<html>
<head>

<!--- favicon -->
<link rel="shortcut icon" href="assets/favicon.png" type="image/png" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- custom css -->
<link rel="stylesheet" href="assets/style.css">

<!-- load js last -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- bootstrap js must be loaded after jquery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript" src="assets/app.js"></script>

<title>melange pastry lab &mdash; {{ page.title }}</title>
</head>
<body>
    <div class="container-fluid">
