<html>
<head>

<!--- favicon -->
<link rel="shortcut icon" href="assets/favicon.png" type="image/png" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- custom css -->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/style.css">

<!-- load js last -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- bootstrap js must be loaded after jquery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script type="text/javascript" src="assets/app.js"></script>

<title>melange pastry lab &mdash; {{ page.title }}</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">melange pastry lab</a>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- TODO use js to modify active <li class="active">--> <li><a href="/">current collection</a> </li>
          <li> <a href="portfolio.html">portfolio</a> </li>
          <li> <a href="about.html">about</a> </li>

        </ul>
      </div>
    </div>
  </nav>
