
/* add custom css here */
.bodyRow {
  max-width: 640px;
  margin: 0 auto;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-stretch: expanded;
  color: #6E6E6E;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown {
  font-family: 'Oswald', sans-serif;
  font-stretch: expanded;
  color: #6E6E6E;
  background-size: cover;
}

.fullname {
  font-family: 'Oswald', sans-serif;
  font-stretch: expanded;
  color: #FAD102;
  background-size: cover;
}

.container {
  margin-bottom: 100px;
  max-width: 920px;
  background: white;
}

.carousel-caption {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-stretch: expanded;
}

h1 {
	text-align: center;
	font-size: 4em;
	color: #BDBDBD;
}

.footer {
	text-align: center;
	z-index: 15;
	position: relative;
}

.disclaimer {
	text-align: center;
}

.yellow {
	color: #FAD102;
}

.overlay {
	position: fixed;
	z-index: 6;
	opacity: 0.85;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: White;
}

.overlayText {
	color: #6E6E6E;
	text-align: center;
	font-size: 1.5em;
	z-index: 7;
}

.carousel-indicators {
	z-index: 5;
}
